{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pybo/css/bootstrap.css' %}">
    <script src="{% static 'pybo/js/watch.js' %}"></script>
    <title>Welcome! PyWeb</title>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="jumbotron">
    <div class="text-center">
      <h1>Welcome! Have a good day!</h1>
    </div>
  </div>
  <div class="container">
      <div class="text-center">
        <img src="{% static 'pybo/images/sky01.JPG' %}" alt="sky" width="700px">
        <p id="demo" class="my-3"></p>
      </div>
  </div>
<script src="{% static 'pybo/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'pybo/js/bootstrap.js' %}"></script>
</body>
</html>