{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>제이쿼리 예제</title>
    <script src="{% static 'pybo/jquery-3.6.0.js' %}"></script>
    <script>
        $(function(){
            //on() 함수 이벤트 가능
            $("p").on('mouseover', function(){
                $(this).hide();
            });
            $("p").on('mouseout', function(){
                $(this).show();
            });

            /* 주석처리
            $("p").click(function(){
                $(this).hide();
            });
            */
        });
    </script>
</head>
<body>
    <p>나를 클릭하면, 내가 사라진다.</p>
</body>
</html>