{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'pybo/style.css' %}">
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <div id="logo"><a href="{% url 'pybo:index' %}">
                    <h2>PyWeb</h2></a></div>
                <ul id="main-nav">
                    <li><a href="#who">나는?(who)</a></li>
                    <li><a href="#job">경력(Job)</a></li>
                    <li><a href="#skill">기술(Skill)</a></li>
                </ul>
            </nav>
        </header>

        <section id="who">
            <div class="page-title">
                <h1>Who Am I?</h1>
            </div>
            <div class="content">
                <div class="photo">
                    <img src="{% static 'pybo/sy.jpg' %}" alt="photo">
                </div>
                <div class="text">
                    <h3>도전정신과 사업운영 경험을 겸비한 인재!</h3>
                    <p>대학에서 식품영양학을 전공하고,</p>
                    <p>그동안 전공 관련 교육분야, 기획운영 경력을 쌓았습니다.</p>
                    <p>데이터 분석과 시스템 자동화에 관심을 갖고</p>
                    <p>최근 IT 관련 공부를 시작했습니다.</p>
                    <p><span>"앞으로 더욱더 업그레이드될 저에게 많은 기대 부탁드립니다!"</span></p>
                </div>
            </div>
        </section>

        <section id="job">
            <div class="page-title">
                <h1>Career</h1>
            </div>
            <div class="content">
                <div class="text">
                    <ul id="career">
                        <li>대학 식품영영학전공 - 영양사, 위생사 국가면허취득</li>
                        <li>대학 행정조교, 식품회사 위생사 경력</li>
                        <li>식품의약품안전처 식생활개선사업 참여<br>
                            (인천 미추홀구, 연수구 지역센터 기획운영) </li>
                        <li>19' 식생활 안전관리 부문 인천시장상 수상</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="skill">
            <div class="page-title">
                <h1>Skill</h1>
            </div>
            <div class="content">
                <div class="photo">
                    <img src="{% static 'pybo/pc.jpg' %}" alt="pc">
                </div>
                <div class="text">
                    <p>식습관코칭, HACCP팀장자격수료, 바리스타 등<br>
                        식품 관련 다수 자격 외 JLPT(일본어), 심리상담사 보유</p><br>
                    <p>IT 관련 skill  ☞ 작품을 클릭하면 사이트로 이동합니다!</p>
                    <ol id="link">
                        <li><a href="{% url 'pybo:board' %}">회원관리형 게시판</a></li>
                        <li><a href="#">팀 프로젝트 이름(추가 예정)</a></li>
                    </ol>
                </div>
            </div>
        </section>

        <footer>
            <div id="bottomMenu">
                <ul>
                    <li><a href="#">My Blog</a></li>
                    <li><a href="email: huji126@gmail.com">email: huji126@gmail.com</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>